
/* -------------------------------Accueil------------------------------- */

body {
    background-color: #f2f2f2;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
}

a {
    text-decoration: none;
    color: #333;
}

.title {
    color: #333;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    margin: 0;
    font-size: 24px;
    align-self: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100;
    top: 0;
    left: 0;
    right: 0;
    position: relative;
    background-color: #fff;
}

.imgLogo {
    width: 125px;
    margin-left: 80px;
}

.finPage {
    text-align: center;
}

.imgnav {
    width: 100px;
    height: 100px;
}

.Onglet{
    height:500px;   
    display: grid;
    grid-template-columns : 22% 22%;
    grid-template-rows : 30% 30% 30%;
    gap: 3%;
    justify-content : center;
}

.Box{
    border: 2px solid #226D68;
    border-radius: 21px;
    justify-content : center;
    text-align: center;
    font-size: 100%;
    display: block;
    height: 100%
}

.Box:hover{
    border-left: 3px solid #226D68;
    border-bottom: 3px solid #226D68;
}

.Image_box{
    display: flex;
    width: auto;
    
}
.Photo, .Evenement,.Club, .Journal,.Aide, .Potins {
    height:5%;
}

.fond_vignette1, .fond_vignette2, .fond_vignette3, .fond_vignette4, .fond_vignette5, .fond_vignette6{
    display: flex;
    width: auto;
    height : 73%;
    filter: blur(1px);
    border-radius: 0px  0px 17px 17px;

}

.fond_vignette1{
    background-image: url(img/photo.jpg);
}
.fond_vignette2{
    background-image: url(img/Event.png);
}

.fond_vignette3{
    background-image: url(img/Club.jpeg);
}

.fond_vignette4{
    background-image: url(img/Journal.jpg);
}
.fond_vignette5{
    background-image: url(img/Aide.jpg);
}

.fond_vignette6{
    background-image: url(img/Potins.jpg);
}

.text_banniere{
    width : 100%;
    margin-left: 1.8%;
}

.sous_banniere{
    flex-direction: column;
    background-color: #226D68;
    height: 120%;
    width : 80%;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
}
.banniere{
    display: flex;
    justify-content: center;
}

.titre_banniere{
    margin-left: 1.2%;
    height: 10px;
    width : auto;
    margin-bottom: 3.5%;
    font-weight: bold;
    font-size: 160%;
}

.sous_sous_banniere{
    display: flex;
    width : 100%;
    margin-left: 0px;
    flex-direction: row;
}
.all_text_ban{
    width: 152%;
}
.icon_info{
    margin-top: 1.35%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.box_explication_ae{
    background-color: #226D68;
    margin-top: 3%;
    margin-left: 10%;
    scroll-behavior: smooth;
    margin-bottom: 1.5%;
    justify-content: center;
    width: 80%;
    text-align: justify;
    border-radius: 4px;
    height: 440px;
    overflow-y: scroll;
    scrollbar-color: rgb(48, 48, 48) rgba(0, 0, 0, 0.146);
    scrollbar-width: thin;
}

.text_explication_ae{
    text-align: justify;
    display: flex;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}
.d_accumuler_de_l_argent, .l_un, .Ainsi_, .l_ensemble{
    font-weight: bold;
    display: inline;
}
.Ainsi_{
    text-decoration: underline;
    font-weight: bold;
    margin-left: 1%;
    margin-right: 1%;
}
.liste_a_point, .prmr_part_du_text{
    margin-left: 1%;
    margin-right: 1%;
}

/*-------------------------------Connexion------------------------------- */

.icon-connexion{
    height: 70px;
    margin-right: 1em;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.login-form {
    background-color: #fff;
    border: 1px solid #226D68;
    padding: 35px;
    border-radius: 8px;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}
.button-anul-mdp{
    font-size: 100%;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input {
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.form-group2{
    display: flex;
    justify-content: space-between;

}
.form-group2 a{
    margin-top: 7px;
}
.form-group2 button{
    justify-content: right;
    display: block;
    width: 42%;
    padding: 10px;
    background-color: #226D68;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.button-log {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #226D68;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/*-------------------------------Inscription------------------------------- */

.register-form {
    background-color: #fff;
    border: 1px solid #333;
    padding: 35px;
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto;
}

.register-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.register-form .form-group {
    margin-bottom: 20px;
}

.register-form .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.register-form .form-group input {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.register-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #226D68;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.register-form button:hover {
    background-color: #333;
}

/* -------------------------------Menu nav 2------------------------------- */

.nav-toggler {

    position: fixed;
    z-index: 10;
    top: 25px;
    left: 0px;
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    margin-left: 20px;
}

.line {
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background: #333; 
    transition: transform 0.3s ease-out, opacity 0.1s ease-out;
    border-radius: 4px;
    border: solid #fff ;
}

.l1 {
    transform: translateY(-6px);
}

.l3 {
    transform: translateY(6px);
}

.nav-toggler.active .l1 {
    transform: translateY(0px) rotate(135deg);
}

.nav-toggler.active .l2 {
    opacity: 0;
}

.nav-toggler.active .l3 {
    transform: translateY(0px) rotate(-135deg);
}

.navBarre {
    position: fixed;
    width:230px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #333;
    border-bottom: 2px solid #cfcfcf;
    transform: translateX(-100%);
    transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84);
}

.navBarre.active {
    transform: translate(0);
}

.navBarre a {
    color: #fff;
    font-size: 20px;
    display: block;
    margin: 10px 0;
}

.imgnav{
    margin-left: 60px;
    margin-top: 8px;
    width: 125px;
    height: auto;
}
.ligne-sup-menu{
    width: 229px;
    border: 1px solid #a2a2a2;
    margin: 4px 0;
}