
body {
    margin: 10px;
    background-color: #f2f2f2;
}

.content {
    margin: 10px; /* Marge de 10px autour du contenu */
    border: 1px solid #333; /* Bordure autour du contenu */
    padding: 20px; /* Espace intérieur pour le contenu */
    box-sizing: border-box; /* Inclure la bordure et la marge dans la largeur totale */
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

.title {
    text-align: center;
    margin-left: 350px;
    color: #333;
}

.titlePresentation {
    text-align: center;
    color: #226D68;
}

.textePresentation {
    text-align: center;
    color: #333;
    font-size: 25px;
}

.navbar {
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: #fff;
}

.navbar .nav-links {
    display: flex;
}

.navbar .nav-links ul {
    display: flex;
}

.imgLogo {
    width: 160px;
}

.navbar .nav-links li {
    margin: 15px;
}

.navbar .nav-links ul li.active a {
    color: #226D68;
    font-weight: 600;
}

.navbar .nav-links ul li {
    margin: 15px;
    transition: padding 0.3s ease;
}

.navbar .nav-links ul li:hover {
    color: #333;
    background-color: #226D68;
    padding: 10px;
    border-radius: 4px;
}

.navbar .nav-links ul li.active a:hover {
    color: #333;
    border-radius: 4px;
}

.finPage {
    text-align: center;
}

.imgnav {
    width: 100px; /* Largeur du carré du menu */
    height: 100px; /* Hauteur du carré du menu */;
}